/*
COLORS:
*/ 

$color-primary: rgb(16, 108, 151);
$color-primary-light: rgb(20, 140, 196);
$color-primary-dark: rgb(11, 77, 107);

$color-grey-light-1: #f7f7f7; 
$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;


//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;